body {
  background-color: rgb(122, 179, 187);
  width: 50%;
  margin: auto;
}

h1 {
  color: blue;
  font-size: 36px;
}

.error {
  border-color: red;
  color: red;
}

.textArea {
  font-size: 24px;
  color: black;
}

ul {
  font-size: 28px;
  list-style-type: none;
  padding: 0px;
  background-color:#555;
}

button
{
  float: right;
}

ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.addButton {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.done {
  text-decoration: line-through;
  background-color: green;
}